<!-- @author Konstantin Bogdanoski (konstantin.b@live.com) -->
<style xmlns:th="http://www.w3.org/1999/xhtml">
    body {
        text-align: center;
    }

    #form {
        padding: 50px;
        margin: 50px;
        border: 2px solid black;
        display: inline-block;
        background: navajowhite;
    }
</style>
<form id="form" action="#" th:action="@{/users/} + ${user.id}" th:object="${user}" method="post">
    <h2>Edit User</h2>
    <input type="hidden" name="userID" th:value="${user.id}">
    <input type="hidden" name="_method" value="PATCH"/>
    <label for="username">Username</label>
    <input style="background: dimgray; border: dimgray" id="username" th:field="*{username}" th:value="${user.username}"
           type="text" readonly><br><br>
    <label for="firstName">First Name</label>
    <input id="firstName" th:field="*{firstName}" th:value="${user.firstName}" type="text"><br><br>
    <label for="lastName">Last Name</label>
    <input id="lastName" th:field="*{lastName}" th:value="${user.lastName}" type="text"><br><br>
    <label for="role">Role</label>
    <select id="role" th:field="*{userRole}">
        <option th:value="'ROLE_ADMIN'" th:text="Admin"></option>
        <option th:value="'ROLE_USER'" th:text="User"></option>
    </select>
    <hr>
    <button type="submit">Change</button>
</form>