<html lang="en">
<head>
    <meta charset="utf-8">
    <title>WP lab - Delivery Info</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }

        table {
            width: 100%;
        }

        table, td, th {
            border: 1px solid black;
            padding: 3px 2px;
        }

        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }

        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
</head>
<body>
<header>
    <h1>Pizza Order page - Delivery information </h1>
</header>
<section>

    <form method="" action="">
        <label for="clientName">Client Name:</label><br/>
        <input type="text" id="clientName" name="clientName"/><br/>
        <label for="clientAddress">Delivery Address:</label><br/>
        <textarea cols="40" rows="3" id="clientAddress" name="clientAddress"></textarea><br/>
        <a href="/confirmationInfo.html">Submit</a>
    </form>

</section>
<aside>
    <table>
        <tr>
            <th colspan="2">
                Your Order Status
            </th>
        </tr>

        <tr>
            <td><b>Pizza Type </b></td>
            <td>Margarita</td>
        </tr>
        <tr>
            <td><b>Pizza Size </b></td>
            <td>Large</td>
        </tr>
    </table>
</aside>
</body>
</html>