<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pizza Order page - Welcome and choose pizza</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Pizza Delivery App</h1>
</header>
<main>
    <h2>Choose pizza:</h2>
    <input type="radio" name="pizza" value="Margherita"> Margherita (tomato sauce, mozzarella)<br/>
    <input type="radio" name="pizza" value="Carbonara"> Carbonara (fresh cream, mozzarella, bacon)<br/>
    <input type="radio" name="pizza" value="Vegetariana"> Vegetariana (tomato sauce, mushrooms)<br/>
    <input type="radio" name="pizza" value="Calzone"> Calzone (Pizza dough, ricotta, pepperoni, pizza sauce, olive oil)
    <br/>
    <input type="radio" name="pizza" value="Cheddar"> Cheddar (cheddar, tomato sauce) <br/>
    <input type="radio" name="pizza" value="Capricciosa"> Capricciosa (tomato sauce, cheese, ham) <br/>
    <input type="radio" name="pizza" value="Burger Classic"> Burger Classic (barbecue sauce, beef, mozzarella,
    onions)<br/>
    <input type="radio" name="pizza" value="Boston Barbecue"> Burger Barbecue (ham, chicken meat, onions)<br/>
    <input type="radio" name="pizza" value="Vegie Vulcano"> Pepperoni (tomato sauce, mozzarella, sausage) <br/>
    <input type="radio" name="pizza" value="Boston Barbecue"> Quattro Formaggi (Taleggio, Mascarpone, Gorgonzola,
    Parmesan) <br/>
    <br/>
    <a href="/selectPizzaSize.html">Submit</a>
</main>
</body>
</html>